{{> head}}


    
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Broken image</h1>
        </div>
        <div class="col-4">
            <img src="/assets/img/broken.jpg" class="img-thumbnail" alt="">
        </div>
    </div>


{{> footer}}